<v-container>
  <v-layout column mt-5>
    <p>please provide a reason for triggering crisis mode</p>
    <v-snackbar ></v-snackbar>
    <v-form  ref="form" lazy-validation>
      <v-textarea outline></v-textarea>
      <p>please propose a time limit for the crisis</p>
      <v-layout column align-center>
        <v-flex xs12 sm12 md12>
          <v-btn class="px-5 my-5" color="primary" type="submit">
            Apply
          </v-btn>
        </v-flex>
      </v-layout>
    </v-form>
  </v-layout>
</v-container>
