<v-container>
  <v-layout column mt-5>
    <h1 class="headline mb-3">Enter your private key</h1>
    <form @submit.prevent="signInSubmitted">
      <input type="file" style="display:none" ref="fileInput" @change="onFilePicked">
      <v-textarea :rules="[rules.validateMnemonic]" outline label="Private Key" name="private-key" v-model="mnemonic"></v-textarea>
      <v-layout row wrap>
        <v-checkbox v-model="shouldRememberMnemonic" label="Remember me (browser cookie)" class="left ma-0 pa-0"></v-checkbox>
        <v-btn @click="loadFile" color="success" class="right">Load File
          <v-icon right>folder_open</v-icon>
        </v-btn>
        <v-btn @click="pasteFromClipboard" color="secondary" class="right">Paste from clipboard</v-btn>
      </v-layout>
      <v-layout column align-center>
        <v-flex xs12 sm12 md12>
          <v-btn type="submit" class="px-5 my-5" color="primary">Sign In</v-btn>
        </v-flex>
      </v-layout>
    </form>
  </v-layout>
</v-container>