<v-list subheader>
  <v-toolbar dark color="success">
    <v-toolbar-title>Recent Dialogs</v-toolbar-title>
  </v-toolbar>
  <v-list-tile
    avatar
    v-for="(chat, index) in chats"
    v-bind:key="chat.statement"
    @click=""
    :to="/chat/ + index"
  >
    <!-- <request v-model :index="index"></Request> -->
    <v-list-tile-content>
      <v-list-tile-title v-html="chat.statement"></v-list-tile-title>
    </v-list-tile-content>
    <v-list-tile-action>
      <v-icon>chat_bubble</v-icon>
    </v-list-tile-action>
  </v-list-tile>
</v-list>
