<v-layout row >
            <v-flex xs12 sm10 order-xs2 style="position: relative;">
                <v-toolbar dark color="primary">
                    <v-toolbar-title>{{statement}}</v-toolbar-title>
                </v-toolbar>
                <v-spacer></v-spacer>
                <div class="chat-container" ref="chatContainer" >
                    <message :messages="messages"></message>
                </div>
                <div class="typer">
                    <input type="text" placeholder="Type here..." v-on:keyup.enter="sendMessage" v-model="content">
                </div>
            </v-flex>
            <v-flex sm3 order-xs1 class="scrollable">
                <chats></chats>
            </v-flex>
</v-layout>
