<v-layout row>
  <v-flex xs12 sm10 order-xs2 style="position: relative;">
    <v-toolbar flat dark color="primary">
      <v-layout row>
        <v-toolbar-title>{{statement}}</v-toolbar-title>
      </v-layout>
      <v-spacer />
      <v-layout row justify-end>
        <crisis></crisis>
        <v-btn color="success" block @click.stop="showSuccessDialog=true"
          >Success</v-btn
        >
        <success
          :showDialog="showSuccessDialog"
          @showSuccessDialogChange="handleShowSuccessDialogChanged"
        ></success>
      </v-layout>
    </v-toolbar>
    <v-spacer></v-spacer>
    <div class="chat-container" ref="chatContainer">
      <message :messages="messages"></message>
    </div>
    <v-layout row class="shadow-up">
      <div class="typer white">
        <input
          type="text"
          placeholder="Type here..."
          @keyup.enter="sendMessage"
          v-model="content"
        />
      </div>
      <v-flex x1 class="pt-3 white">
        <v-btn color="primary" flat icon right @click.stop="sendMessage">
          <v-icon>send</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>
  </v-flex>
  <v-flex sm3 order-xs1 class="scrollable">
    <chats></chats>
  </v-flex>
</v-layout>
