<v-dialog
  v-model="show"
  persistent
  max-width="800px"
  xmlns:v-slot="http://www.w3.org/1999/XSL/Transform"
>
  <v-card>
    <v-toolbar dense dark color="error lighten-1">
      <v-toolbar-title>A Crisis has been called</v-toolbar-title>
    </v-toolbar>
    <v-card-text>
      <v-container grid-list-md>
        <v-layout wrap>
          <v-flex xs12>
            <p>Topic: <strong>{{statement}}</strong></p>
            <h4>
              Message in controversy:
            </h4>
            <div class="quote-container" ref="chatContainer">
              <message :messages="message"></message>
            </div>
            <h4>Reason Given:</h4>
            <blockquote class="blockquote grey lighten-5">
              {{reason}}
            </blockquote>
            <p>
              Why do you think the other party is hurt?
              <v-btn-toggle>
                <v-btn color="blue darken-1" flat @click="percievedReason='1'"
                  >I overdid it</v-btn
                >
                <v-btn color="blue darken-1" flat @click="percievedReason='2'"
                  >I was misunderstood</v-btn
                >
              </v-btn-toggle>
            </p>
            <p>
              Proposed time limit: <strong>{{due}}</strong>
              <v-btn-toggle>
                <v-btn color="blue darken-1" flat @click="percievedTime='short'"
                  >I need more time</v-btn
                >
                <v-btn color="blue darken-1" flat @click="percievedTime='long'"
                  >The time is okay</v-btn
                >
              </v-btn-toggle>
            </p>
          </v-flex>
          <v-flex xs12> </v-flex>
          <v-flex xs12>
            <h4></h4>
            <br />
          </v-flex>
          <v-flex xs12>
            <h4></h4>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="blue darken-1" flat @click="advanceCrisis">Approve</v-btn>
    </v-card-actions>
  </v-card>
</v-dialog>
