<v-dialog v-model="show" max-width="600px">
    <v-card>
        <v-toolbar dense dark color="success lighten-1">
            <v-toolbar-title>Success</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
            <v-container grid-list-md>
                <v-layout wrap>
                    <v-flex xs12>
                        <span>Please edit your current statement on:</span>
                        <h2 class="grey--text">"{{statement}}"</h2>
                    </v-flex>
                    <v-flex xs12>
                        <v-textarea solo auto-grow
                                    rows="2"
                                    :value="statement"
                                    hint="example of persistent helper text"
                                    persistent-hint
                                    required
                        ></v-textarea>
                    </v-flex>
                    <v-flex xs12>
                        <span>Any last words to Bob?</span>
                    </v-flex>
                    <v-flex xs12>
                        <v-textarea solo auto-grow
                                    rows="2"
                                    placeholder="I've learned a lot from talking with you, thanks"
                                    hint="example of persistent helper text"
                                    persistent-hint
                                    required
                        ></v-textarea>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="show = false">Cancel</v-btn>
            <v-btn color="success darken-1" flat @click="show = false">Finish</v-btn>
        </v-card-actions>
    </v-card>
</v-dialog>
